# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.moc
*.obj
*.ui
/Makefile
/maxview
/qrc_maxview.cpp
/qmake_image_collection.cpp
/maxview.pro.user
/qmeta-build-desktop
/test
