# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.moc
*.obj
/Makefile
/paperman
/qrc_maxview.cpp
/qmake_image_collection.cpp
/maxview.pro.user
/qmeta-build-desktop
/paper
/.paperdesk
/paperman.pro.user

# Symlink to paperman executable built by QT creator
pm

.ui/
.qmake.stash
/junk/
__pycache__/
.claude/
.qtc_clangd/
