Source: paperman
Section: graphics
Priority: optional
Maintainer: Simon Glass <sjg@chromium.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/sjg20/paperman

Package: paperman
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: tesseract-ocr
Description: An electronic filing cabinet: scan, print, stack, arrange
 Paperman allows you to:
 - Quickly scan and file paper into your computer
 - Read and write PaperPort .max files
 - Stack, arrange and name your scanned paper
 - Easily print and view your scanned paper
 - Convert to / from PDF and other formats
 - Paperman uses SANE and supports JPEG compression on modern high-speed scanners
