#!/usr/bin/make -f
                                
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk

build/paperman::
	pod2man --section=1 --release=$(VERSION) --center "" debian/paperman.pod > paperman.1

cleanbuilddir/paperman::
	rm -f paperman.1

DEB_INSTALL_MANPAGES_paperman = paperman.1


QMAKE=qmake
CFLAGS=-O3
CXXFLAGS=-O3
