#!/usr/bin/make -f
                                
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk

build/maxview::
	pod2man --section=1 --release=$(VERSION) --center "" debian/maxview.pod > maxview.1

cleanbuilddir/maxview::
	rm -f maxview.1

DEB_INSTALL_MANPAGES_maxview = maxview.1


QMAKE=qmake-qt4
CFLAGS=-O3
CXXFLAGS=-O3
